body{
    margin: 0;
    height: 0;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrap{
    margin: 0 auto;
    max-width: 1120px;
}
ol{
  list-style-type: lower-alpha;  
}
li{
    line-height: 30px;
}
.blocknwews{
    width: 600px;

}
.foto{
    width: 300px;
  
}
.img{
   
  
   
}
form{
   
    margin: 0 auto;
    margin-bottom: 50px;
    width: 300px;
    border: 1px solid #000;
    text-align: center;
}